@use "colors";

.pink-btn {
  padding: 2rem 5rem;
  background-color: colors.$pink;
  color: #ffffff;
  border-radius: 3rem;
  border: 0;
  font-size: 1.3rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  margin-bottom: 5.7rem;
  text-decoration: none;

  &:hover {
    opacity: 0.5;
    cursor: pointer;
    transition: all 300ms ease-in-out;
  }
}
